<!DOCTYPE html>
<html>
<head>
  <title>Message Board</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Mini Message Board</h1>
    <a href="/new">Add a message</a>
    <ul>
      <% messages.forEach(msg => { %>
        <li>
          <strong><%= msg.user %></strong>: <%= msg.text %> 
          <em>(<%= msg.added.toLocaleString() %>)</em>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
