<!DOCTYPE html>
<html>
<head>
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>All Messages</h1>
    <a href="/new">Submit a new message</a>
    <ul>
      <% messages.forEach(msg => { %>
        <li>
          <strong><%= msg.username %></strong>: <%= msg.message %> 
          <em>(<%= msg.time %>)</em>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
